<div class="container login">
    <form name="login" data-ng-submit="submitLogin(form)" role="form" class="login-form">
        <div class="form-group">
            <input type="text" tabindex="1" class="form-control user-name-box"  ng-class="{'ng-invalid': errorType == errorTypes.username && !form.userName}" id="userName" placeholder="{{USERNAME_TEXT}}" data-ng-model="form.userName">
        </div>
        <div class="form-group second-field">
            <input type="password"  tabindex="2"  class="form-control login-lock-icon" ng-class="{'ng-invalid': errorType == errorTypes.password && !form.password}" id="passwordText" placeholder="{{ONLY_PASSWORD}}" data-ng-model="form.password" autocomplete="off">
        </div>

        <div class="pull-right form-group last-form-group">
            <button type="submit"  tabindex="5"  class="btn btn-success login-button" ng-bind="LOGIN_TEXT"></button>
        </div>
        <span class="clearfix"></span>
        <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage" >
            <span class="error" ng-bind="errorMessage"></span>
            <button type="button" class="close" data-ng-click="errorMessage = ''" aria-hidden="true">
                &times;
            </button>
        </div>
    </form>

</div>