/*body {
	background: linear-gradient(to bottom, #DE5041 140px, #DE5041, #DCC0A5)
		no-repeat fixed
}*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.nav > li > a > img {
    max-width: none;
    padding-right: 5%;
}

.server-error-message {
    position: fixed;
    bottom: 100px;
    z-index: 100000;
    left: 44%;
    box-shadow: 3px 3px 10px #000;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

.nav .dropdown-menu {
    right: auto !important;
    left: 0 !important;
    white-space: nowrap;
    width: 100%;
    z-index: 100;
    padding-bottom: 0;
    padding-top: 0;
    border-width: 0;
}

/*.dropdown-menu:first-child {
    margin-top: -3%;
}*/

.nav .dropdown-menu > li > a {
    /*margin-top: -2%;*/
    padding: 10% 10% 10% 0;
    background-color: #3d3d3d !important;
    color: #9d9d9d;
    cursor: pointer;
}

.nav .dropdown-menu > li > a:hover {
    background-color: #080808 !important;
    color: #fff;
    transition: all .25s ease-out;
}

.nav .dropdown-menu > li > a > img {
    transition: all .2s ease-out;
    padding-left: 10%;
    padding-right: 3%;
}

.glyphicon {
    font-size: 16px;
    top: 4px;
    /*margin-right: 5%;*/
}

.navbar {
    margin-bottom: 0 !important;
    height: 58px;
}

.navbar-inverse {
    background-color: #3d3d3d !important;
    -moz-background-color: #3d3d3d !important;
}

.navbar-brand {
    margin-top: -6%;
}

.navbar-right {
    margin: 0;
    padding: 0;
    min-width: 60%;
    height: 58px;
}

.navbar-right > li {
    list-style: none;
    display: block;
    min-width: 17%;
    font: 14px Arial, Calibri, PT-Sans-Regular;
    border-left: 1px solid #222 !important;
    height: 100% !important;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    float: right !important;
    text-align: center;
}

.navbar-right > li:before {
    content: '';
    border-left: 1px solid #555;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-right > li:first-child > a > img {
    height: 30px;
    width: 3vw;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    padding-left: 2%;
}

.navbar-right > li:first-child {
    text-align: left;
    min-width: 20%;
    /* max-width: 35%;*/
    height: 100%;
}

.navbar-right > li:first-child > a {
    text-align: left !important;
}

.navbar-right > li > a {
    display: block;
    height: 100% !important;
    text-decoration: none;
    text-transform: capitalize;
    font-style: normal;
    font-size: 1vw;
    cursor: pointer;
    text-wrap: normal;
    text-overflow: clip;
    transition: all .2s ease-out;
}

.navbar-right > li > a > img {
    transition: all .2s ease-out;
}

.navbar-right > li > a:hover {
    /*background-color: #FFF !important;
    color: #3D3D3D !important;*/
    /*font-weight: bold;*/
    color: #ffffff;
    transition: all .2s ease-out;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #FFF;
    /*font-weight: bold;*/
    transition: all .2s ease-out;
}
